* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

body .textInput {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: brown;
    padding: 1rem;
    width: 849px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    font-weight: bold;
}

.textDisplay {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.textInput {
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;

}

.textInput:focus {
 border-color: black;
}

.correct {
    color : green;
}
.incorrect {
    color: red;
    text-decoration: underline;
}